@import "./variables.scss";
/* 改变主题色变量 */
$--color-primary: $color-primary;
$--color-text-primary: $color-text-primary;
$--color-text-regular: $color-text-regular;
$--color-text-secondary: $color-text-secondary;
$--color-text-placeholder: $color-text-placeholder;
$--border-color-base: $border-color-base;
$--background-color-base: $background-color-base;

/* Card
--------------------------*/
$--card-border-color:$border-color-base;
$--card-border-radius: 0;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
